.page-header {
    .logo {
        width: 210px;
        margin-top: 14px;
    }
    .main-nav {
        display: flex;
        font-size: 1.25rem;
        margin-top: 34px;
        list-style: none;
        li {
            margin-left: 36px;
            a {
              color: $mainColor;
              &:hover {
                 color: $hoverColor;
              }
            }
        }
    }
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
}